// some global tribute values
$asset-color-bg: #ccc !default;
$asset-color-text: #333 !default;
$border-radius-small: ".2em";

$asset-font-family: 'Bangers', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$asset-font-size: '16px' !default;


.TributeAssetTitle {
  background-color: $asset-color-bg;
  border-radius: $border-radius-small;
  box-sizing: content-box;
  color: $asset-color-text;
  display: block;
  font-family: $asset-font-family;
  font-size: $asset-font-size;
  font-weight: 400;
  padding: 1em;
  position: absolute;
  text-align: center;
  // positioning
  // height: auto;
  // width: auto;
  // top: 10%;
  // left: 20%;
  // transform: none;
}

// .TributeAssetVideo {
//   // add here any custom video style
// }

.TributeAssetImg {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}
